/* 
### Primary

- Yellow: hsl(47, 88%, 63%)

### Neutral

- White: hsl(0, 0%, 100%)
- Grey: hsl(0, 0%, 50%)
- Black: hsl(0, 0%, 7%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Figtree](https://fonts.google.com/specimen/Figtree)
- Weights: 500, 800 */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: hsl(47, 88%, 63%);
}

.container {
  background: hsl(0, 0%, 100%);
  width: 384px;
  height: 522px;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 8 8 0 0 (black, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}

.image-container {
  margin-top: 1.4rem;
}

img {
  border-radius: 1rem;
}

.text-container {
  width: 336px;
  height: 194px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.category {
  background: hsl(47, 88%, 63%);
  padding: 0.3rem;
  border-radius: 0.2rem;
  font-weight: 800;
  width: fit-content;
}

.date {
  font-weight: 500;
}

.heading {
  font-weight: 800;
  font-size: 1.6rem;
}

.text {
  color: hsl(0, 0%, 50%);
}

.profile > img {
  width: 2rem;
}

.profile {
  display: flex;
  align-items: center;
  font-weight: 800;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-left: -13rem;
  font-size: 15px;
}
